<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Medication Plans</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

    <script>
function startTime() {
  var today = new Date();
  var h = today.getHours();
  var m = today.getMinutes();
  var s = today.getSeconds();
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('txt').innerHTML =
  h + ":" + m + ":" + s;
  var t = setTimeout(startTime, 500);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
}

    </script>

</head>

<body onload="startTime()">
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${medicationPlans}" class="container my-5">
                <div class="col-md-10">
                    <div id="txt"></div>

                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Diagnostic</th>
                                <th>Intake Intervals</th>
                                <th>Period of the Treatment</th>
                                <th>List of Medication</th>
                                <th>Taken</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="medicationPlan : ${medicationPlans}">
                                <td th:text="${medicationPlan.diagnostic}"></td>
                                <td th:text="${medicationPlan.intakeIntervals}"></td>
                                <td th:text="${medicationPlan.periodOfTheTreatment}"></td>
                                <td th:text="${medicationPlan.listOfMedication}"></td>
                                <td>
                                    <a th:href="@{/edit/{id}(id=${medicationPlan.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>